    
# Системные файлы macOS
.DS_Store
.AppleDouble
.LSOverride

# Системные файлы Windows
Thumbs.db
ehthumbs.db

# Файлы, которые могут содержать локальные секреты
# Мы будем использовать этот шаблон для хранения приватных данных
*.local
.env

# История команд оболочки
.bash_history
.zsh_history

# Кэш и временные файлы программ
.viminfo
.nvim/shada/ # Кэш Neovim

  
